.glossary-fullscreen {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.glossary-header {
  width: 100%;
}

.glossary-button-container {
  display: flex;
  flex-direction: row-reverse;
}

.glossary-cancel {
  margin: 10px;
}

.glossary-header h1 {
  margin: 15px 0px 15px 20px;
  font-size: 3em;
  font-weight: 400;
}

.glossary-body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.glossary-letters {
  overflow-y: scroll;
  padding: 20px 20px 20px 10px;
  height: 70vh;
}

.glossary-entry-def {
  overflow-y: scroll;
  width: 60em;
  height: 70vh;
  padding: 20px 20px 20px 0px;
}

@media only screen and (min-height: 1000px) {
  .glossary-letters {
    height: 52vh;
  }
  .glossary-entry-def {
    height: 52vh;
  }
}

@media only screen and (min-height: 2000px) {
  .glossary-letters {
    height: 65vh;
  }
  .glossary-entry-def {
    height: 65vh;
  }
}

.glossary-letter {
  margin-bottom: 10px;
  text-decoration: underline;
}

.glossary-index {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: underline;
}

.glossary-entry {
  margin-left: 20px;
  margin-right: 20px;
}

.glossary-entry-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.glossary-entry-text {
  text-decoration: none;
}

.glossary-word {
  text-decoration: underline;
}

.mapbox-logo {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapbox-improve-map {
  display: none;
}

.mapbox-logo {
  display: none;
}
/* .mapboxgl-ctrl-logo { display: none !important; }  */
.mapbox-improve-map {
  display: none;
}
.mapboxgl-ctrl-compass {
  display: none;
}
