.btn-large {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;

  padding: 5px 20px 10px 20px;
  margin: 0px 70px 0px 70px;
}

.btn-text {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
