:root {
  --primary: black;
}

.btn {
  border-radius: 2px;
  outline: auto;
  border: white;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn--large {
  padding: 12px 20px 12px 20px;
  margin: 0px 70px 0px 70px;
  font-size: 18px;
  color: white;
}
