.slider {
  position: fixed;
}

.project-name-align {
  text-align: left;
  font-size: 1em;
  font-weight: 400;
}

.description-align {
  font-size: 0.5em;
  text-align: left;
  font-weight: lighter;
}

.right-arrow {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
