body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.marker-btn {
   background: none;
   border: none;
   cursor: pointer;
}

.marker-btn img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.img-description-on-map {
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
   width: 50px;
   font-size: medium;
   position: fixed;
   object-fit: contain;

    left: 25%;
    top: 30%;

    width: 50%;

    border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: -2px 5px 5px #E71D36;

    background-color: #FDFFFC;

    display:block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: #011627;
}