body {
   background-color: black;
   /* margin: 0; */
}

.app-wrap {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-content: stretch;
   align-items: stretch;
   /* height: fit-content; */
   /* justify-content: center */
   /* overflow-y: scroll; */
   /* Grimes recommended for cellphone */
   height: 85vh;
}

.app-wrap>* {
   flex: 1 1 auto;
   align-items: stretch;
}

.border {
   border-style: solid;
   border-color: rgb(255, 255, 255);
}

.container {
   display: inline-flex;
}

.project-header {
   background-image: url("Central_Library.jpg");
   background-position: right;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   text-align: left;
   font-size: 7em;
}

.project-main-image {
   /* border-radius: 8px; */
   /* border-radius: 4px; */
   /* padding: 5px; */
   /* width: 150px; */
}

.projectpageleftsideshortcuts {
   /* flex: 3; */
   min-width: min(50%, 100vh);
}

.project-description {
   font-size: 1.2em;
}

.project-buttons {}

/* .project-related-features {
   text-align: right
} */

.project-related-features, force-left {
   text-align: left
}

.project-at-glance {
   text-align: left;
}