.category-block {
  display: block;
  background-color: black;
  color: white;
  background-image: url(../images/Calgary_DT.jpg);
  background-size: cover;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5em;
  padding-left: 0.5em;
  padding-top: 1.5em;
  padding-bottom: 50%;
  margin: auto;
}

.category-explore {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2.5em;
  height: 100vh;
}

.projects-title {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 1em 0em 1em 1.35em;
  /* padding-top: 1.5em; */
  /* padding-bottom: 50%; */
  margin: auto;
}

.list-spacer {
  text-align: left;
}

.list-style {
  color: white;
  background-color: transparent !important;
  font-size: 0.5em;
}

option {
  color: black;
}

.button-spacer {
  padding-left: 25%;
}

.button-styling {
  color: white;
  text-decoration: none;
}

.button-lets-go {
  background-color: #757575;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-family: sans-serif;
  font-size: 19px;
  cursor: pointer;
}
