* {
   font-family: Arial, Helvetica, sans-serif;
   text-align: left;
   font-size: 1em;
}

body {
   color: white;
   background-color: black;
}

h2 {
   font-size: 20px;
   font-weight: bolder;
   color: #ffffff;
   text-transform: capitalize;
}

/* "What makes ..." title on Landing(Gateway) Page*/

.choose-gateway-word-title {
   background-repeat: no-repeat;
   background-size: cover;
   font-size: 3.5em;
   height: 77vh;
   padding: 0em 0em 0em 0.5em;
   -webkit-text-fill-color: black;
   /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   padding-top: 3em;
   background-image: url("../images/Calgary_DT.jpg");
   margin: auto;
}

/*Dropdown list on Landing (Gateway) Page*/

.list-spacer {
   margin-top: 20px;
   text-align: left;
   background-color: transparent !important;
}

.list-style {
   color: rgb(161, 161, 158);
   font-size: 1em;
   background-color: transparent !important;
   background-color: black;
   /* color: black;
   -webkit-text-fill-color: black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white; */
}

/*Let's Go Button on Landing(Gateway) Page*/

.button-spacer {
   padding-left: 220px;
}

.button-styling {
   text-decoration: none;
   text-align: center;
   -webkit-text-fill-color: black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   font-weight: 800;
}

.button-lets-go {
   background-color: rgb(10, 10, 10);
   font-size: 20px;
   height: 50px;
}

/* Navbar */

.navbar-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 6vh;
   bottom: 0px;
   position: fixed;
   padding: 0.35em 0em 0.4em 0em;
   background-color: black;
   z-index: 10;
}

.nav-links {
   color: rgb(182, 174, 174);
   font-size: 1rem;
   text-decoration: none;
   padding: 0.5rem 1rem;
}

.category-explore {
   text-align: center;
   font-size: 2.5em;
   height: 100vh;
}

/* Classification Page */

.container-flex {
   display: flex;
   flex-direction: column;
}

/* Project Title on Classification Page */

.projects-title {
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.5em;
}

.outer {
   width: 100vw;
}

/* Specifically for Map page on Heroku */

.project-title-spacer {
   padding-bottom: 7em;
}

/* Gallery */

.gallery-container {
   /* border: 1.5px solid white;
  width: 99vw; */
   width: 100vw;
}

.each-slide>div {
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-size: cover; */
   background-size: contain;
   background-repeat: no-repeat;
   background-position-x: center;
   /* background-position-y: center; */
   height: 350px;
}

/* .each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
} */

/* Projects Slider on Classification, Map and Individual Project Page */

.slider-container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.slider-container-left {
   display: flex;
}

.slider-container-right {
   display: flex;
}

.slide-opacity {
   opacity: 0;
}

.slide.active {
   opacity: 1;
   transition-duration: 1.5s;
}

.slider-spacer {
   padding-top: 46vh;
}

/* Project Slider Buttons and Border */

.btn-large {
   background-color: black;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   border: 1.5px solid white;
   height: 25vh;
   width: 65vw;
   box-shadow: inset 0 0 1000em 40px rgba(7, 7, 7, 0.372);
   /* mix-blend-mode: multiply; */
}

/* Slider text */

.btn-text {
   font-size: 20px;
   text-decoration: none;
   color: black;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 0.7px;
   -webkit-text-stroke-color: black;
   height: 25vh;
   width: 65vw;
   text-overflow: ellipsis;
   overflow: hidden;
}

/* Slider: Project Name Title */

.project-name-align {
   display: flex;
   text-transform: uppercase;
   font-weight: 800;
   letter-spacing: 0.5px;
   padding-top: 2vh;
}

/* Classification Page: Feature Words on Slider */

.count {
   bottom: 2.5vh;
   font-size: 14px;
   position: relative;
   text-align: justify;
   font-weight: 800;
   padding-left: 1vh;
}

.arrow {
   font-size: 2rem;
   /* z-index: 10; */
   user-select: none;
}

/* Project Page */

.container-grid {
   display: grid;
   padding-bottom: 15%;
}

.border-top {
   border-top: 2px solid gray;
}

.border-bottom {
   border-bottom: 2px solid gray;
}

.border-left {
   border-left: 2px solid gray;
}

.border-right {
   border-right: 2px solid gray;
}

.container-grid-two-in-the-row {
   display: grid;
   grid-template-columns: repeat(2, auto);
}

.project-header {
   overflow: hidden;
   display: flex;
}

.navbar-project-page {
   position: fixed;
   z-index: 10;
}

.project-padding {
   padding: 1em 1em 1em 1em;
}

.project-padding-left {
   padding: 0em 1em 0em 1em;
   list-style-type: none;
}

.project-padding-bottom {
   padding-bottom: 1em;
}

.project-margins {
   margin: 1em 1em 1em 1em;
}

.project-title {
   font-size: 9.5vw;
   padding: 1.25em 1em 0em 0.4em;
   position: absolute;
   font-weight: 800;
   letter-spacing: 0.3px;
   text-transform: uppercase;
   -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1.25px;
   -webkit-text-stroke-color: black;
   line-height: 28px;
}

.project-description {
   font-size: 1.1em;
}

.classificationName {
   text-transform: uppercase;
}

.descriptionFormat {
   justify-content: left;
}

.slider-on-project-page {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   width: 65vw;
   height: 28vh;
   bottom: 6.2vh;
   position: static;
   padding-top: 1%;
   background-color: black;
}

/* Classification Page */

/* Header "What makes..." on Classification Page and Map Page */

.header-container {
   background-color: black;
   position: fixed;
   text-align: center;
   font-size: 5em;
   top: 0;
   width: 100%;
   height: 100px;
}

/* Classification Title Text on Classification Page */

.title-text {
   color: white;
   font-size: 1.75rem;
   /*  */
   -webkit-text-fill-color: black;
   /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 0.75px;
   -webkit-text-stroke-color: white;
   /*  */
   text-decoration: none;
   padding: 1rem 1rem 1rem 2rem;
}

.title-text-padding {
   padding-left: 1.5em;
}

/* Classification Container on Classification Page */

.classification-container {
   background-color: black;
   text-align: left;
   top: 120px;
   width: 100%;
   padding-top: 110px;
}

/* Classification Container Description Text on Classification Page */

.description-text {
   color: white;
   font-size: 1 rem;
   text-decoration: none;
   padding: 0rem 1rem 1rem 2rem;
}

#pict {
   margin: 2em 0em 2em 0em;
   width: 75%;
   float: right;
   text-align: right;
}

.display-block {
   display: inline-block;
   }
.display-none {
     display: none;
}